/* CSS Reset and base styling */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bkg: linear-gradient(to top, #0f0915, #050307);
  --dark: #050307;
  --text: #f9f6fe;
  --accent: #4233e4;
}

body {
  font-family: "Nunito Sans", sans-serif;
  /* background: var(--bkg);
  color: var(--text); */
}

.container {
  width: 80vw;
  max-width: 1440px;
  margin: auto;
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%; /* else it will only take the width of the contents - so justify-content will not work*/
  padding: 1.2rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* svg styling */
.logo /*logo svg has a class called logo*/ {
  color: var(--accent);
  width: clamp(3rem, 10vw, 5rem);
}

/* Tab focus styling */
.logo-link:focus-visible,
.nav-link:focus-visible {
  outline: 3px solid var(--accent);
  outline-offset: 0.2rem;
  border-radius: 0.2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  list-style: none;
  /* transition: transform 0.4s cubic-bezier(0.64, 0.04, 0.26, 0.87); */
}

.nav-link {
  text-decoration: none;
}

.btn-menu {
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--accent);
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  display: none;
  transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

/* -------- */

@media (max-width: 800px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    z-index: -1;
    top: 3rem;
    left: 0;
    right: 0;
    text-align: center;
    transform: translate(0, -200%);
    border-bottom: 3px solid var(--accent);
  }

  .nav-links .activated {
    transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  }

  .btn-menu {
    display: inline-block;
  }

  .btn-menu[aria-expanded="true"] {
    transform: rotate(180deg);
  }

  .btn-menu[aria-expanded="true"] + .nav-links {
    transform: translate(0, 0);
  }

  li[role="none"],
  nav-link {
    width: 100%;
    display: block;
  }
}
